:root {
  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #313131;

  --soft-gold: #CEB28B;
  --gold: #c8a755;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --black-heading: var(--black-soft);
  --white-heading: var(--white-soft);
  --black-text: var(--black-soft);
  --white-text: var(--white-soft);

  --section-gap: 85px;
  --inner-sections-gap: 65px;
  --max-container-width: 1140px;

  --heading-font: Bebas;
  --soft-shadow: 0 4px 4px rgb(0, 0, 0, 0.25)
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--black-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: Lato;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Headings

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--black-heading);
  font-family: var(--heading-font);
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 24px;
}

// Button
button {
  font-family: var(--heading-font);
  font-size: 24px;
  background-color: var(--white-soft);
  height: fit-content;
  padding: 0.8rem 2.7rem;
  border-radius: 50px;
  box-shadow: var(--soft-shadow);
  border: none;
  transition: 0.3s;
  cursor: pointer;


  &:hover {
    background-color: var(--black-soft);

    a {
      color: var(--white-soft);
    }
  }

  a {
    color: var(--black-soft);
    text-decoration: none;
  }

  // Black Outline

  &.black-outline {
    border: 1px solid var(--black-soft);

    &:hover {
      border: 2px solid var(--gold);
    }
  }

  // Arrow Buttons
  &.arrow {
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: var(--white-soft);
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: 50% 50%;

    &:hover {
      background-color: var(--white-mute);
    }

    &.left {
      background-image: url('../../../img/chevron-left-solid.svg');
    }

    &.right {
      background-image: url('../../../img/chevron-right-solid.svg');
    }
  }
}

// Container

.section-container {
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: var(--inner-sections-gap);
}